build/
build-*/
cmake-build-*/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install-manifest.txt
compile_commands.json
CTestTestfile.cmake
Testing/

Makefile
*.ninja
.ninja_deps
.ninja_log

*.exe
*.out
*.app
*.dll
*.so
*.dylib

*.o
*.obj
*.a
*.lib

*.pdb

.vs/
*.vcxproj.user
*.suo

.DS_Store
Thumbs.db